body{
background:  #F9D9FF url('imagens/Fundo/fundo.png');
background-size: 10px;
background-position: 15px 100px ;
}
#principal{
    margin: 12px;
    width: 98%;
    font: 18px "Times New Roman", Times, serif;
    background: url('imagens/Fundo/fundo2.png');
}
#head{
    
    padding-top: 10px;
    font-size: 2em ;
    font: bold;
    background: url('imagens/Fundo/fundo1head.jpg');
}
#menu{
    background: url('imagens/Fundo/fundomenu.jpg');
    text-align: center;
    padding: 8px;
}
#conteudo{
    padding-top: 10px;
    padding-left: 20px;

}
#fotos{
    text-align: center;
}
.negrito{
    font:bold; 
}

.flou{
    float: left;
    margin-left: 150px;
}
.clear{
    clear: both;
}
.centralizar{
    text-align: center;
}
.imagens{
    height: 250px;
    border:2px solid #55F2FA ;
}
.imagens2{
    width: 200px;
    border:2px solid #55F2FA ;
}
a{
    padding: 10px;
    text-decoration: none;
    color: #BF6DFF;
}