body{
background: #F9D9FF;
}
#principal{
    width: 98%;
    text-align: center;
}
#head{

}
#menu{
    
}
#conteudo{

}
.negrito{
    font:bold; 
}
a{
    padding: 10px;
    text-decoration: none;
    color: #BF6DFF;
}